In [133]:
import pandas as pd
    
agg = pd.DataFrame()

teams_df = pd.read_csv('MTeams.csv')
teams_df = teams_df.loc[teams_df['LastD1Season'] == 2022]
teams_df = teams_df[['TeamID', 'TeamName']]

MMteams = pd.read_csv('MNCAATourneySeeds.csv')
MMteams = MMteams.loc[MMteams['Season'] == 2021][['TeamID']]

agg1 = MMteams.set_index('TeamID').join(teams_df.set_index('TeamID'))
display(agg1)

stats_df = pd.read_csv('MNCAATourneyDetailedResults.csv')
stats_df = stats_df.loc[stats_df['Season'] == 2021]
display(stats_df)

win = stats_df[['WTeamID', 'WScore', 'WLoc']].copy()
win['WFG%'] = stats_df['WFGM']/stats_df['WFGA'] * 100
win['W3Pt%'] = stats_df['WFGM3']/stats_df['WFGA3'] * 100
win['W2Pt%'] = (stats_df['WFGM']-stats_df['WFGM3'])/(stats_df['WFGA']-stats_df['WFGA3'])
win['WFT%'] = stats_df['WFTM']/stats_df['WFTA'] * 100
win['WAssists'] = stats_df['WAst']
display(win.sort_values(by=['WTeamID']))
win = win.groupby(['WTeamID']).mean()
display(win)

lose = stats_df[['LTeamID', 'LScore']].copy()
lose['LFG%'] = stats_df['LFGM']/stats_df['LFGA'] * 100
lose['L3Pt%'] = stats_df['LFGM3']/stats_df['LFGA3'] * 100
lose['L2Pt%'] = (stats_df['LFGM']-stats_df['LFGM3'])/(stats_df['LFGA']-stats_df['LFGA3'])
lose['LFT%'] = stats_df['LFTM']/stats_df['LFTA'] * 100
lose['LAssists'] = stats_df['LAst']
lose = lose.groupby(['LTeamID']).mean()
display(lose)

agg2 = lose.join(win)
tourney_stats = agg1.join(agg2)
tourney_stats.to_csv('tourney_stats.csv')

            TeamName
TeamID
1276        Michigan
1104         Alabama
1400           Texas
1199      Florida St
1160        Colorado
...              ...
1457        Winthrop
1317     North Texas
1159         Colgate
1331    Oral Roberts
1216        Hartford

[68 rows x 1 columns]

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
1115,2021,136,1179,53,1455,52,N,0,20,53,...,18,11,22,10,23,7,8,7,7,13
1116,2021,136,1313,54,1111,53,N,0,20,58,...,36,15,16,12,30,7,12,5,10,8
1117,2021,136,1411,60,1291,52,N,0,22,57,...,22,8,16,4,29,9,9,1,7,12
1118,2021,136,1417,86,1277,80,N,1,31,67,...,18,16,18,10,21,16,11,2,6,19
1119,2021,137,1116,85,1159,68,N,0,29,65,...,27,10,17,8,28,17,22,5,2,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1176,2021,148,1211,85,1425,66,N,0,33,66,...,15,14,19,7,20,9,9,7,0,13
1177,2021,148,1417,51,1276,49,N,0,21,54,...,11,6,11,8,24,12,14,5,3,11
1178,2021,152,1124,78,1222,59,N,0,29,55,...,19,11,16,13,12,10,10,4,5,10
1179,2021,152,1211,93,1417,90,N,1,37,63,...,17,14,21,7,24,21,9,4,1,16
1180,2021,154,1124,86,1211,70,N,0,30,67,...,17,15,21,1,16,16,14,4,3,17

,WTeamID,WScore,WLoc,WFG%,W3Pt%,W2Pt%,WFT%,WAssists
1135,1101,53,N,29.850746,16.666667,0.346939,83.333333,9
1158,1104,96,N,53.030303,48.484848,0.575758,100.000000,19
1136,1104,68,N,47.169811,31.250000,0.540541,56.521739,10
1119,1116,85,N,44.615385,31.250000,0.489796,75.862069,11
1166,1116,72,N,37.662338,11.111111,0.411765,86.666667,13
...,...,...,...,...,...,...,...,...
1165,1425,85,N,57.142857,61.111111,0.552632,58.823529,18
1157,1437,84,N,55.357143,50.000000,0.615385,77.777778,19
1132,1437,73,N,44.230769,32.000000,0.555556,73.076923,11
1133,1452,84,N,50.793651,50.000000,0.511111,73.333333,16
1134,1458,85,N,50.819672,48.148148,0.529412,83.333333,15

            WScore       WFG%      W3Pt%     W2Pt%       WFT%   WAssists
WTeamID
1101     53.000000  29.850746  16.666667  0.346939  83.333333   9.000000
1104     82.000000  50.100057  39.867424  0.558149  78.260870  14.500000
1116     75.000000  41.404402  21.963508  0.463483  77.705657  11.333333
1124     77.000000  46.124361  39.804426  0.500306  73.808519  16.333333
1160     96.000000  60.714286  64.000000  0.580645  85.714286  27.000000
1166     67.500000  44.913793  35.428571  0.518648  63.186813  15.000000
1179     53.000000  37.735849  36.842105  0.382353  60.000000  13.000000
1196     75.000000  56.521739  38.461538  0.636364  66.666667   9.000000
1199     67.500000  52.128623  17.647059  0.630858  75.476190  15.500000
1211     89.200000  54.647959  38.476431  0.641861  73.587733  21.600000
1222     69.750000  38.855129  31.415428  0.440019  66.981390  13.750000
1228     78.000000  57.142857  28.571429  0.607143  50.000000  19.000000
1234     86.000000  53.703704  45.454545  0.593750  75.000000  17.000000
1242     93.000000  47.887324  40.000000  0.536585  81.250000  20.000000
1260     71.000000  49.075102  40.370370  0.537523  67.424242  17.000000
1261     76.000000  40.322581  32.000000  0.459459  81.818182  11.000000
1268     63.000000  51.162791  50.000000  0.520000  71.428571  13.000000
1276     81.333333  50.382281  33.962704  0.605159  75.328874  20.000000
1313     54.000000  34.482759  38.888889  0.325000  77.777778  10.000000
1317     78.000000  47.457627  42.857143  0.500000  86.666667  14.000000
1325     62.000000  42.000000  30.434783  0.518519  92.857143  12.000000
1328     72.000000  41.818182  46.666667  0.400000  79.166667  14.000000
1329     69.000000  40.350877  20.000000  0.476190  68.965517   5.000000
1331     78.000000  40.664160  32.380952  0.496296  80.193237  12.500000
1332     95.000000  55.882353  44.000000  0.627907  72.727273  25.000000
1333     71.666667  43.522409  38.693529  0.463546  80.476190  13.333333
1353     60.000000  39.655172  26.666667  0.535714  66.666667  11.000000
1393     76.500000  53.621113  50.358423  0.584524  74.125874  16.000000
1403     65.000000  41.935484  38.888889  0.431818  75.000000  15.000000
1411     60.000000  38.596491  42.857143  0.372093  52.631579   9.000000
1417     73.000000  43.834864  37.301410  0.467173  68.623626  12.400000
1425     79.666667  54.850088  51.089325  0.565066  65.163399  17.666667
1437     78.500000  49.793956  41.000000  0.585470  75.427350  15.000000
1452     84.000000  50.793651  50.000000  0.511111  73.333333  16.000000
1458     85.000000  50.819672  48.148148  0.529412  83.333333  15.000000

         LScore       LFG%      L3Pt%     L2Pt%       LFT%  LAssists
LTeamID
1101       47.0  29.824561  21.052632  0.342105  81.818182      13.0
1104       78.0  43.478261  25.000000  0.560976  44.000000       9.0
1111       53.0  25.806452  16.666667  0.384615  93.750000       7.0
1116       72.0  48.148148  27.272727  0.534884  73.913043      13.0
1140       62.0  49.019608  17.647059  0.647059  56.250000       5.0
...         ...        ...        ...       ...        ...       ...
1439       70.0  42.105263  30.434783  0.500000  71.428571      11.0
1452       72.0  37.142857  42.307692  0.340909  81.818182      18.0
1455       52.0  33.928571  16.666667  0.421053  50.000000       7.0
1457       63.0  36.206897  31.818182  0.388889  73.684211      13.0
1458       63.0  45.454545  38.095238  0.500000  71.428571      13.0

[66 rows x 6 columns]

In [137]:
regstats_df = pd.read_csv('MRegularSeasonDetailedResults.csv')
regstats_df = regstats_df.loc[regstats_df['Season'] == 2021]
display(regstats_df)

regwin = regstats_df[['WTeamID', 'WScore', 'WLoc']].copy()
regwin['WFG%'] = regstats_df['WFGM']/regstats_df['WFGA'] * 100
regwin['W3Pt%'] = regstats_df['WFGM3']/regstats_df['WFGA3'] * 100
regwin['W2Pt%'] = (regstats_df['WFGM']-regstats_df['WFGM3'])/(regstats_df['WFGA']-regstats_df['WFGA3'])
regwin['WFT%'] = regstats_df['WFTM']/regstats_df['WFTA'] * 100
regwin['WAssists'] = regstats_df['WAst']
display(regwin.sort_values(by=['WTeamID']))
regwin = regwin.groupby(['WTeamID']).mean()
display(regwin)

rlose = regstats_df[['LTeamID', 'LScore']].copy()
rlose['LFG%'] = regstats_df['LFGM']/regstats_df['LFGA'] * 100
rlose['L3Pt%'] = regstats_df['LFGM3']/regstats_df['LFGA3'] * 100
rlose['L2Pt%'] = (regstats_df['LFGM']-regstats_df['LFGM3'])/(regstats_df['LFGA']-regstats_df['LFGA3'])
rlose['LFT%'] = regstats_df['LFTM']/regstats_df['LFTA'] * 100
rlose['LAssists'] = regstats_df['LAst']
rlose = rlose.groupby(['LTeamID']).mean()
display(rlose)

agg3 = rlose.join(regwin)
regszn_stats = agg1.join(agg3)
regszn_stats.to_csv('regszn_stats.csv')

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
92832,2021,23,1101,70,1190,47,N,0,20,49,...,21,14,17,11,27,5,22,6,2,0
92833,2021,23,1104,81,1240,57,H,0,30,77,...,32,10,17,18,28,10,20,5,2,0
92834,2021,23,1111,81,1354,61,A,0,32,62,...,32,6,11,12,18,12,9,13,0,14
92835,2021,23,1113,94,1348,88,N,0,27,61,...,18,21,35,7,26,14,16,8,2,0
92836,2021,23,1114,71,1341,66,N,0,22,51,...,21,4,4,7,15,14,24,12,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96682,2021,132,1104,80,1261,79,N,0,33,76,...,27,9,13,15,26,10,5,6,5,13
96683,2021,132,1159,85,1259,72,H,0,31,59,...,22,9,16,12,19,12,12,2,1,13
96684,2021,132,1222,91,1153,54,N,0,37,66,...,33,10,15,14,17,11,10,2,5,12
96685,2021,132,1228,91,1326,88,N,1,29,64,...,25,22,30,8,27,11,8,7,4,26
96686,2021,132,1382,74,1433,65,N,0,25,62,...,18,15,20,3,23,9,9,4,4,18

,WTeamID,WScore,WLoc,WFG%,W3Pt%,W2Pt%,WFT%,WAssists
92832,1101,70,N,40.816327,56.521739,0.269231,62.962963,14
95446,1101,88,H,46.478873,46.428571,0.465116,50.000000,26
96409,1101,85,H,44.117647,36.363636,0.514286,92.857143,22
95015,1101,75,A,48.076923,26.086957,0.655172,76.000000,17
94921,1101,82,H,41.269841,25.000000,0.512821,82.758621,12
...,...,...,...,...,...,...,...,...
95124,1470,70,A,45.098039,56.250000,0.400000,88.235294,11
94745,1471,89,H,67.924528,52.380952,0.781250,75.000000,28
95906,1471,83,H,49.122807,50.000000,0.481481,85.714286,17
96485,1471,85,H,59.649123,52.631579,0.631579,70.000000,23
96408,1471,89,H,52.307692,48.484848,0.562500,31.250000,24

            WScore       WFG%      W3Pt%     W2Pt%       WFT%   WAssists
WTeamID
1101     78.947368  46.906665  39.858782  0.516572  70.666917  18.684211
1102     65.400000  47.808713  37.841064  0.541905  72.315135  15.000000
1103     79.846154  46.549733  38.513630  0.545301  75.355947  13.538462
1104     83.500000  44.888031  36.462429  0.536991  72.960363  15.291667
1105     76.333333  43.711252  27.404943  0.540933  67.678171  16.000000
...            ...        ...        ...       ...        ...        ...
1467     71.000000  48.517118  31.644861  0.598422  65.454838  13.444444
1468     76.000000  51.404706  35.974920  0.588530  76.942364  15.909091
1469     76.666667  43.695009  32.117317  0.480357  75.203912  15.000000
1470     69.000000  47.110986  44.825758  0.475560  81.059577  14.400000
1471     86.500000  57.251038  50.874345  0.614203  65.491071  23.000000

[346 rows x 6 columns]

            LScore       LFG%      L3Pt%     L2Pt%       LFT%   LAssists
LTeamID
1101     63.750000  41.490687  31.005998  0.468050  60.909091  15.750000
1102     57.050000  43.957002  30.762570  0.538544  66.386291  11.650000
1103     71.250000  39.672964  25.839157  0.518790  75.039926  11.625000
1104     63.833333  35.894522  28.290832  0.419325  63.702547   9.500000
1105     54.666667  37.027080  27.921176  0.407710  58.663998   7.666667
...            ...        ...        ...       ...        ...        ...
1467     61.555556  41.251189  30.962686  0.481945  63.320008  10.555556
1468     67.142857  47.958736  37.673160  0.510620  69.909921  14.142857
1469     63.461538  38.874174  26.871252  0.451470  71.984462  14.153846
1470     61.300000  41.317582  31.785788  0.449526  70.719604   9.800000
1471     61.500000  41.421117  31.796870  0.511118  58.383117  13.900000

[346 rows x 6 columns]